<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>



<%= form_tag("/tasks", method: "get", id:"add-task") do %>
  <br>
  <%= text_field_tag :new_task, nil, placeholder:"new goal" %>
  <%= date_field_tag :new_due_date %>
<% end%>



<ul>
    <% @tasks.each do |task| %>
    <li>
        <%= task.goal %>
        <%= task.due_date %>
    </li>
    <% end %>
</ul>

<%= link_to 'New Task', new_task_path %>
<br>