<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @task.goal %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
